/* ALL PAGES */
*{
    margin: 0 auto;
    padding: 0%;
}
::-webkit-scrollbar {
    position: relative;
    width: 10px;
    overflow-x: scroll;
  }
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
    overflow-x: scroll;
  } 
::-webkit-scrollbar-thumb:hover {
    background: rgb(219, 219, 219);
    overflow-x: scroll;
  }
.icon1{
    position: absolute;
    bottom: 40px;
    left: 70px;
    animation: nav-load 400ms;
}
.icon2{
    position: absolute;
    bottom: 40px;
    left: 115px;
    animation: nav-load 400ms;
}
.icon3{
    position: absolute;
    bottom: 40px;
    left: 158px;
    animation: nav-load 400ms;
}
.navigation-but-top{
    margin-left: 50%;
    margin-top: 50px;
    position: absolute;
    width: 3%;
    height: 3%;
    transform: rotate(180deg);
}
.navigation-but-bot{
    margin-left: 50%;
    bottom: 50px;
    position: absolute;
    width: 3%;
    height: 3%;
}
.navigation-but-bot:hover{
    width: 3.5%;
    height: 3.5%;
}
.navigation-but-top:hover{
    width: 3.5%;
    height: 3.5%;
}
.wrapper{
    display: flex;
    flex-direction: row;
    width: 400vw;
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
}
.outer-wrapper{
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    position: absolute;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.slide{
    width: 100vw;
    height: 100vh;
}




/* THE MONKEY CO PAGE */
.one-tmc{
    background-image: linear-gradient(270deg, #ca74e4,#8A44D1);
}
.two-tmc{
    background-image: linear-gradient(270deg, #74e4d1,#ca74e4);
}
.three-tmc{
    background-image: linear-gradient(270deg, #8A44D1,#74e4d1);
}
.four-tmc{
    background-image: linear-gradient(270deg, #000000,#8A44D1);
}
h1.catagorie-title-tmc{
    align-items: center;
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transform: rotate(270deg);
    margin-top: 400px;
    margin-left: 1400px;
    animation: nav-side-load 1000ms;  
}
h1.title-tmc{
    margin-top: 40px;
    margin-left: 70px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}
h2.subtext-tmc{
    margin-top: 75px;
    margin-left: 70px;
    z-index: 1;
    font-weight: 200;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}

#parallax-tmc{
   position: absolute;
   width: 25%;
   height: 100vh;
   background-image: url(images/tmcphoto.png);
   background-size: 450px;
   background-repeat: no-repeat;
   background-position: center;
   background-position: 50% 50%;
   animation: slide-in 500ms;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(0deg, #ca74e4,#8A44D1);
    overflow-x: scroll;
}

/* 3D-ART */
.one-3d{
    background-image: linear-gradient(270deg, #74e4bf,#24ce5c);
}
.two-3d{
    background-image: linear-gradient(270deg, #d9e474,#74e4bf);
}
.three-3d{
    background-image: linear-gradient(270deg, #4492d1,#d9e474);
}
.four-3d{
    background-image: linear-gradient(270deg, #000000,#4492d1);
}


h1.catagorie-title-3d{
    align-items: center;
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transform: rotate(270deg);
    margin-top: 400px;
    margin-left: 1650px;
    animation: nav-side-load 1000ms;  
}
h1.title-3d{
    margin-top: 40px;
    margin-left: 70px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}
h2.subtext-3d{
    margin-top: 75px;
    margin-left: 70px;
    z-index: 1;
    font-weight: 200;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}

#parallax-3d{
   position: absolute;
   width: 25%;
   height: 100vh;
   background-image: url(images/pianomodel.png);
   background-size: 550px;
   background-repeat: no-repeat;
   background-position: center;
   background-position: 50% 50%;
   animation: slide-in 500ms;
}

/* GRAPHIC DESIGN */
.one-grd{
    background-image: linear-gradient(270deg, #ffc17a,#d47902);
}
.two-grd{
    background-image: linear-gradient(270deg, #e47474,#ffc17a);
}
.three-grd{
    background-image: linear-gradient(270deg, #c94242,#e47474);
}
.four-grd{
    background-image: linear-gradient(270deg, #000000,#c94242);
}
h1.catagorie-title-grd{
    align-items: center;
    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transform: rotate(270deg);
    margin-top: 400px;
    margin-left: 1410px;
    animation: nav-side-load 1000ms;  
}
h1.title-grd{
    margin-top: 40px;
    margin-left: 70px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}
h2.subtext-grd{
    margin-top: 75px;
    margin-left: 70px;
    z-index: 1;
    font-weight: 200;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}

#parallax-grd{
   position: absolute;
   width: 25%;
   height: 100vh;
   background-image: url(images/graphicdesign.png);
   background-size: 450px;
   background-repeat: no-repeat;
   background-position: center;
   background-position: 50% 50%;
   animation: slide-in 500ms;
}

/* PHOTOGRAPHY */
/* .one-pht{
    background-image: linear-gradient(270deg, #9debff,#27a39d);
}
.two-pht{
    background-image: linear-gradient(270deg, #e474b5,#9debff);
}
.three-pht{
    background-image: linear-gradient(270deg, #4d44d1,#e474b5);
}
.four-pht{
    background-image: linear-gradient(270deg, #000000,#4d44d1);
} */
.one-pht{
    background-color: #cc1f1f;
}
.two-pht{
    background-color: #0fbd2c;
}
.three-pht{
    background-color: #127391;
}
.four-pht{
    background-color: #b8205a;
}
h1.catagorie-title-pht{

    position: absolute;
    color: white;
    font-size: 100px;
    z-index: 1;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    transform: rotate(270deg);
    margin-top: 5%;
    margin-left: 19%;
    animation: nav-side-load 1000ms;  
}
h1.title-pht{
    margin-top: 40px;
    margin-left: 70px;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}
h2.subtext-pht{
    margin-top: 75px;
    margin-left: 70px;
    z-index: 1;
    font-weight: 200;
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    color: white;
    position: absolute;
    animation: nav-load 400ms;
}

#parallax-pht{
   position: absolute;
   width: 23%;
   height: 100vh;
   background-image: url(images/camera.png);
   background-size: 450px;
   background-repeat: no-repeat;
   background-position: center;
   animation: slide-in 500ms;

}

p.centercontent{
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
}






/* ANIMATIONS */
@keyframes nav-load{
    0%{
        transform: translateY(-100%);
    }
}

@keyframes nav-side-load{
    0%{
        transform: translateX(100%);
    }
}

@keyframes slide-in{
    0%{
        transform: translateY(-80vh);
    }

    100%{
        transform: translateY(0vh);
    }
}